<div class="align-center">
  <h3>Fill Student Details</h3>
  <div class="inputField padding" >
    <span class="padding"> firstName:
      <input placeholder="enter firstName" name="firstName" [(ngModel)]="firstName" type="text" />
    </span>
    <span class="padding"> lastName:
    <input placeholder="enter the lastName" name="lastName" [(ngModel)]="lastName" type="text" />
    </span>
    <span class="padding"> Email:
    <input placeholder="enter the Email" name="Email" [(ngModel)]="email" type="email" />
    </span>
  </div>
  <div>
    <button  (click)="submit()" *ngIf="!updateValue">
      submit
    </button>
    <button  (click)="updatedValue()" *ngIf="updateValue">
      update
    </button>
  </div>

</div>
<div>
  <table>
    <thead>
      <tr>
        <th class="border">firstName</th>
        <th class="border">lastName</th>
        <th class="border">Email</th>
        <th> Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of studentData">
        <td>{{data?.firstName}}</td>
        <td>{{data?.lastName}}</td>
        <td>{{data?.email}}</td>
        <td>
          <button (click)="update(data.id)">update</button>
          <button (click)="deleteData(data.id)"> delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>