<div class="align-center" bo>
  <h3>Fill Student Details</h3>
  <div class="container">
    <div class="inputField padding " >
      <div class="padding">
        <span> First Name: </span>
          <input placeholder="Enter first name" name="firstName" [(ngModel)]="firstName" type="text" />
      </div>
      
      <div class="padding">
        <span> Last Name: </span>
        <input placeholder="Enter the last name" name="lastName" [(ngModel)]="lastName" type="text" class="lastNameInput"/>
      </div>
    
      <div class="padding">
        <span > Email: </span>
        <input placeholder="Enter the email" name="Email" [(ngModel)]="email" type="email" class="emailInput"/>
      </div>
    </div>
    <div class="align-center">
      <button  (click)="submit()" *ngIf="!updateValue" class="submit">
        submit
      </button>
      <button  (click)="updatedValue()" *ngIf="updateValue">
        update
      </button>
    </div>
  </div>

</div>
<div class="align-center">
  <table>
    <thead>
      <tr>
        <th class="border">firstName</th>
        <th class="border">lastName</th>
        <th class="border">Email</th>
        <th> Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of studentData">
        <td>{{data?.firstName}}</td>
        <td>{{data?.lastName}}</td>
        <td>{{data?.email}}</td>
        <td>
          <button (click)="update(data.id)"> update </button>
          <button (click)="deleteData(data.id)"> delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>